$toggler-bg: $primary;


header{
    .navbar-toggler{
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $toggler-bg;
        }
    }
    .navbar-nav{
        .nav-link{
            font-weight: $font-weight-medium ;
             font-size: 1.7rem;
             padding: 10px;
             text-align: center;
        }
    }
}
.navbar











